@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');
// Global
$global-font: 'Roboto', sans-serif;
$global-font-weight: 400;
$secondary-font: 'Electrolize', sans-serif;

// Colors
$dark-color: #212121;
$light-color: #ffffff;
$primary-color: #FF652F;
$secondary-color: #FFE400;
$third-color: #119243;