@use 'reset';
@use 'vars';

body {
  font-family: vars.$global-font;
  font-weight: vars.$global-font-weight;
  background-color: vars.$dark-color;
  color: vars.$light-color;
  position:relative;
  min-height: 100vh;
  display: flex; /* Pour les autres navigateurs (safari ?) */
  flex-direction: column;
}

